<div class="container mt-4">
    <h2 class="text-center">Cadastro de Propriedade</h2>
  
    <form (ngSubmit)="onSubmit()">
      <div class="row">
        <!-- CPF do Proprietário -->
        <div class="col-md-6 mb-3">
          <label for="personCpf" class="form-label">CPF do Proprietário</label>
          <input type="text" class="form-control" id="personCpf" 
            [(ngModel)]="propertyData.personCpf" name="personCpf" 
            [class.is-invalid]="errors.personCpf">
          <div *ngIf="errors.personCpf" class="invalid-feedback">
            {{ errors.personCpf }}
          </div>
        </div>
  
        <!-- Registro da Propriedade -->
        <div class="col-md-6 mb-3">
          <label for="registerProperty" class="form-label">Registro da Propriedade</label>
          <input type="text" class="form-control" id="registerProperty" 
            [(ngModel)]="propertyData.registerProperty" name="registerProperty"
            [class.is-invalid]="errors.registerProperty">
          <div *ngIf="errors.registerProperty" class="invalid-feedback">
            {{ errors.registerProperty }}
          </div>
        </div>
      </div>
  
      <div class="row">
        <!-- Escritura Notarial -->
        <div class="col-md-6 mb-3">
          <label for="notarialDeed" class="form-label">Escritura Notarial</label>
          <input type="text" class="form-control" id="notarialDeed" 
            [(ngModel)]="propertyData.notarialDeed" name="notarialDeed"
            [class.is-invalid]="errors.notarialDeed">
          <div *ngIf="errors.notarialDeed" class="invalid-feedback">
            {{ errors.notarialDeed }}
          </div>
        </div>
  
        <!-- Preço -->
        <div class="col-md-6 mb-3">
          <label for="price" class="form-label">Preço (R$)</label>
          <input type="number" step="0.01" class="form-control" id="price"
            [(ngModel)]="propertyData.price" name="price"
            [class.is-invalid]="errors.price">
          <div *ngIf="errors.price" class="invalid-feedback">
            {{ errors.price }}
          </div>
        </div>
      </div>
  
      <div class="row">
        <!-- Tamanho da Propriedade -->
        <div class="col-md-6 mb-3">
          <label for="size" class="form-label">Tamanho da Propriedade</label>
          <input type="text" class="form-control" id="size"
            [(ngModel)]="propertyData.size" name="size"
            [class.is-invalid]="errors.size">
          <div *ngIf="errors.size" class="invalid-feedback">
            {{ errors.size }}
          </div>
        </div>
      </div>
  
      <hr>
      <h4>Endereço</h4>
  
      <div class="row">
        <!-- Rua -->
        <div class="col-md-6 mb-3">
          <label for="streetName" class="form-label">Rua</label>
          <input type="text" class="form-control" id="streetName"
            [(ngModel)]="propertyData.address.streetName" name="streetName"
            [class.is-invalid]="errors.streetName">
          <div *ngIf="errors.streetName" class="invalid-feedback">
            {{ errors.streetName }}
          </div>
        </div>
  
        <!-- Número -->
        <div class="col-md-6 mb-3">
          <label for="number" class="form-label">Número</label>
          <input type="text" class="form-control" id="number"
            [(ngModel)]="propertyData.address.number" name="number"
            [class.is-invalid]="errors.number">
          <div *ngIf="errors.number" class="invalid-feedback">
            {{ errors.number }}
          </div>
        </div>
      </div>
  
      <div class="row">
        <!-- Complemento -->
        <div class="col-md-6 mb-3">
          <label for="complementAddress" class="form-label">Complemento</label>
          <input type="text" class="form-control" id="complementAddress"
            [(ngModel)]="propertyData.address.complementAddress" name="complementAddress">
        </div>
  
        <!-- Bairro -->
        <div class="col-md-6 mb-3">
          <label for="district" class="form-label">Bairro</label>
          <input type="text" class="form-control" id="district"
            [(ngModel)]="propertyData.address.district" name="district"
            [class.is-invalid]="errors.district">
          <div *ngIf="errors.district" class="invalid-feedback">
            {{ errors.district }}
          </div>
        </div>
      </div>
  
      <div class="row">
        <!-- Cidade -->
        <div class="col-md-6 mb-3">
          <label for="city" class="form-label">Cidade</label>
          <input type="text" class="form-control" id="city"
            [(ngModel)]="propertyData.address.city" name="city"
            [class.is-invalid]="errors.city">
          <div *ngIf="errors.city" class="invalid-feedback">
            {{ errors.city }}
          </div>
        </div>
  
        <!-- Estado -->
        <div class="col-md-6 mb-3">
          <label for="state" class="form-label">Estado</label>
          <input type="text" class="form-control" id="state"
            [(ngModel)]="propertyData.address.state" name="state"
            [class.is-invalid]="errors.state">
          <div *ngIf="errors.state" class="invalid-feedback">
            {{ errors.state }}
          </div>
        </div>
      </div>
  
      <div class="row">
        <!-- CEP -->
        <div class="col-md-6 mb-3">
          <label for="postalCode" class="form-label">CEP</label>
          <input type="text" class="form-control" id="postalCode"
            [(ngModel)]="propertyData.address.postalCode" name="postalCode"
            [class.is-invalid]="errors.postalCode">
          <div *ngIf="errors.postalCode" class="invalid-feedback">
            {{ errors.postalCode }}
          </div>
        </div>
      </div>
  
      <button type="submit" class="btn btn-primary w-100">Cadastrar Propriedade</button>
    </form>
  </div>
  