.banner {
    position: relative;
    height: 300px;
    background-image: url('https://images.pexels.com/photos/3183150/pexels-photo-3183150.jpeg?auto=compress&cs=tinysrgb&w=1600&h=400&fit=crop');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
  }
  
  .container-custom {
    min-height: 100vh; /* Garante que o container ocupe toda a tela */
    display: flex;
    flex-direction: column;
  }
  
  .main-container {
    flex-grow: 1; /* Faz o conteúdo crescer e empurrar o footer para baixo */
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  footer {
    background-color: #343a40;
    color: white;
    text-align: center;
    padding: 10x 0;
    margin-top: 10.5%;
    width: 100%;
  }

  .name {
    position: absolute;
    right: 220px;
    top: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: white;
    font-size: 0.95rem;
  }

  .saldo{
    position: absolute;
    right: 20px;
    top: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: white;
    font-size: 0.95rem;
  }
  
  .navbar .nav-link {
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .navbar .nav-link:hover {
    background-color: #495057; // 🔹 Um cinza mais claro que o navbar
    border-radius: 5px;
    color: #ffffff !important; // Garante que o texto continue branco
  }

  .logout-button {
    border-radius: 0px;
    padding: 5px 15px;
    font-weight: 500;
    transition: all 0.3s ease;
    color: #fff;
    background-color: #007bff;
    border: none;
  
    &:hover {
      background-color: #0056b3;
      transform: scale(1.05);
    }
  
    &:focus {
      outline: none;
      box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
    }
  }
  